nav {
    text-align: center;
    position: fixed;
    top: 1rem;
    left: 0;
    width: 100%;
    height: 3.3rem;
    z-index: 2;
    font-size: 0;
    display: flex;
    justify-content: center;
  }
  .nav__links {
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
  }
  a:hover {
    text-decoration: none;
    color: white;
  }
  nav a {
    line-height: 3.5rem;
    height: 100%;
    font-size: 1rem;
    font-family: "Signika", sans-serif;
    font-weight: bold;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
  }
  nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all 0.5s ease 0s;
    border-radius: 8px;
  }
  nav a:nth-child(1) {
    width: 9rem;
  }
  nav a:nth-child(2) {
    width: 7rem;
  }
  nav a:nth-child(3) {
    width: 6rem;
  }
  nav a:nth-child(4) {
    width: 7rem;
  }
  nav a:nth-child(5) {
    width: 8rem;
  }
  nav .start-about,
  a:nth-child(1):hover ~ .animation {
    width: 9rem;
    left: 0;
    background-color: #af1818;
  }
  nav .start-unidades,
  a:nth-child(2):hover ~ .animation {
    width: 7rem;
    left: 9rem;
    background-color: #fbbb09;
  }
  nav .start-inicio,
  a:nth-child(3):hover ~ .animation {
    width: 6rem;
    left: 16rem;
    background-color: #124b04;
  }
  nav .start-galeria,
  a:nth-child(4):hover ~ .animation {
    width: 7rem;
    left: 22rem;
    background-color: #af1818;
  }
  nav .start-tienda,
  a:nth-child(5):hover ~ .animation {
    width: 8rem;
    left: 29rem;
    background-color: #fbbb09;
  }
  @media only screen and (max-width: 320px){
    html{
        font-size: 8px;
    }
  }