* {
  margin: 0;
  padding: 0;
}

body {
  background-color: beige;
}

h1 {
  text-align: center;

  font-family: "Sansita Swashed", cursive;
  font-size: 40px;
  margin-top: 30px;
}
.subtitulos {
  text-align: center;
  font-family: "Signika", sans-serif;
  font-size: 35px;
  margin: 15px;
}
h3 {
  text-align: center;
  margin: 5px;
}
h4 {
  text-align: center;
  margin-top: 5px;
}

p {
  text-align: center;
  font-family: "Signika", sans-serif;
  font-weight: 300;
}
/*----------------------Diseño barra navegación----------------------------------------------------------*/
nav {
  background-color: #ccc6c2a6;
  padding: 19px;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 2;
}
.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

.menu li {
  font-family: "Signika", sans-serif;
  list-style-type: none;
  font-size: 16px;
  position: relative;
  transition: all 0.5s;
}



.menu a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.5s;
}

.menu a:hover {
  font-size: 21px;
  color: #d31515;
}
.logoNavegacion {
  width: 10%;
}
.logoNavegacion img {
  position: absolute;
  width: 90%;
  top: -41px;
  left: 0px;
}
/*------------------------------------------------------------------------------------------------------*/
/*----------------------Banner--------------------------------------------------------------------------*/


.banner .carousel {
  height: 321px;
  overflow: hidden;
  position: relative;
}
/*-----------------------------------------------------------------------------------------------------*/

/*----------------------¿Quienes Somos?----------------------------------------------------------------*/
.quienesSomos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
}

.quienesSomosTexto {
  display: inline-block;
  width: 500px;
  background-color: #ccc6c2;
  padding: 15px;
  border-radius: 5px;
}

.quienesSomosBanner img {
  height: 180px;
  width: 350px;
}

/*-----------------------------------------------------------------------------------------------------*/

/*----------------------Conoce unidades----------------------------------------------------------------*/


.conoceUnidades {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.conoceUnidades img:not(.conoceUnidades-logo) {
  width: 15rem;
 
  height: 21rem;
  object-fit: cover;
  
}


.conoceUnidades div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}


.conoceUnidades-img:hover{
  -webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
  box-shadow: 10px 10px 14px 4px rgba(0,0,0,0.47);
  
}

.conoceUnidades-logo {
  width: 130px;
}


.conoceUnidades h2 {
  font-size: 25px;
}



.conoceUnidadesModal{
  width: 200px;
  display: block;
  margin: auto;
}


.conoceUnidades-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: 1s linear;
}
.conoceUnidades-img.hidden {
  overflow: hidden;
}
.conoceUnidades-img .imagenUnidades {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  transform: scale(1.2);
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}
.conoceUnidades-img:hover .imagenUnidades {
  transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  filter: opacity(.5);

}
.conoceUnidades-img p{
  display: none;
}
.conoceUnidades-img:hover p{
  display: block;
}
/*-----------------------------------------------------------------------------------------------------*/

/*----------------------Ser parte----------------------------------------------------------------*/

.serParte {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
}

.serParte-texto {
  display: inline-block;
  width: 500px;
  background-color: #ccc6c2;
  padding: 15px;
  border-radius: 5px;
}

/*-----------------------------------------------------------------------------------------------------*/
/*----------------------Pie de pagina----------------------------------------------------------------*/
footer p {
  text-align: left;
}

footer {
  display: grid;
  grid-template-areas:
    "titulo titulo"
    "contacto form";
  background-color: #ccc6c2;
  grid-row-gap: 12px;
  grid-column-gap: 1px;

  padding: 11px;
  margin-top: 10px;
}

.logosRedes {
  width: 20px;
  margin: 3px 3px;
}

.tituloPie {
  grid-area: titulo;
}

.contactoPie {
  grid-area: contacto;
}

.formPie {
  grid-area: form;
}

.formPie form {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-row-gap: 2px;
}

/*-----------------------------------------------------------------------------------------------------*/

.text-center {
  text-align: center;
}
