* {
  margin: 0;
  padding: 0;
}

body {
  background-color: beige;
}

h1 {
  text-align: center;

  font-family: "Sansita Swashed", cursive;
  font-size: 40px;
  margin-top: 30px;
}
.subtitulos {
  text-align: center;
  font-family: "Signika", sans-serif;
  font-size: 35px;
  margin: 15px;
}
h3 {
  text-align: center;
  margin: 5px;
}
h4 {
  text-align: center;
  margin-top: 5px;
}

p {
  text-align: center;
  font-family: "Signika", sans-serif;
  font-weight: 300;
}
/*----------------------Diseño barra navegación----------------------------------------------------------*/
nav {
  background-color: #ccc6c2a6;
  padding: 19px;
  position: sticky;
  top: 0px;
  z-index: 2;
}
.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

.menu li {
  font-family: "Signika", sans-serif;
  list-style-type: none;
  font-size: 16px;
  position: relative;
  transition: all 0.5s;
}

.menu li:hover {
  font-size: 21px;
  color: #ccc6c2;
}

.menu a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.5s;
}

.menu a:hover {
  color: #d31515;
}
.logoNavegacion {
  width: 10%;
}
.logoNavegacion img {
  position: absolute;
  width: 100%;
  top: -41px;
  left: 0px;
}
/*------------------------------------------------------------------------------------------------------*/
/*----------------------Banner--------------------------------------------------------------------------*/


.banner .carousel {
  height: 321px;
  overflow: hidden;
  position: relative;
}
/*-----------------------------------------------------------------------------------------------------*/

/*----------------------¿Quienes Somos?----------------------------------------------------------------*/
.quienesSomos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
}

.quienesSomosTexto {
  display: inline-block;
  width: 500px;
  background-color: #ccc6c2;
  padding: 15px;
  border-radius: 5px;
}

.quienesSomosBanner img {
  height: 180px;
  width: 350px;
}

/*-----------------------------------------------------------------------------------------------------*/

/*----------------------Conoce unidades----------------------------------------------------------------*/

@keyframes rotar {
  from {
    transform: rotateZ(45deg);
  }
  to {
    transform: rotateZ(-45deg);
  }
}
.conoceUnidades {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.conoceUnidades img:not(.conoceUnidades-logo) {
  width: 190px;
  margin-top: 9px;
}

.conoceUnidades div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.conoceUnidades-logo {
  width: 60px;
}

.conoceUnidades-logo:hover {
  animation-name: rotar;
  animation-duration: 6s;
}
.conoceUnidades h2 {
  font-size: 25px;
}

.subtitulos {
  transition: all 0.5s;
}

.subtitulos:hover {
  font-size: 30px;
  background-color: #ccc6c2a6;
  color: #696464;
}
/*-----------------------------------------------------------------------------------------------------*/

/*----------------------Ser parte----------------------------------------------------------------*/

.serParte {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
}

.serParte-texto {
  display: inline-block;
  width: 500px;
  background-color: #ccc6c2;
  padding: 15px;
  border-radius: 5px;
}

/*-----------------------------------------------------------------------------------------------------*/
/*----------------------Pie de pagina----------------------------------------------------------------*/
footer p {
  text-align: left;
}

footer {
  display: grid;
  grid-template-areas:
    "titulo titulo"
    "contacto form";
  background-color: #ccc6c2;
  grid-row-gap: 12px;
  grid-column-gap: 1px;

  padding: 11px;
  margin-top: 10px;
}

.logosRedes {
  width: 20px;
  margin: 3px 3px;
}

.tituloPie {
  grid-area: titulo;
}

.contactoPie {
  grid-area: contacto;
}

.formPie {
  grid-area: form;
}

.formPie form {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-row-gap: 2px;
}

/*-----------------------------------------------------------------------------------------------------*/

.text-center {
  text-align: center;
}
