.galeria {
  margin-top: 3rem;
  padding: 2rem;
}
.galeria__encabezado {
  margin: 2rem 1rem;
  width: 60%;
}
.galeria__contenido {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.galeria__contenido__filtro {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  background-color: rgba(11, 11, 11, 0.562);
  border-radius: 8px;
  justify-content: center;
  box-shadow: 0 3px 5px #000;
  width: 18%;
}
.galeria__contenido__filtro-titulo {
  color: #fff;
  font-family: "Signika", sans-serif;
  text-align: center;
  margin-bottom: 2rem;

  font-size: 1.5rem;
}

.galeria__encabezado-texto {
  font-family: "Signika", sans-serif;
  text-align: left;
  font-size: 1.2rem;
}
.galeria__encabezado-tituloGrande {
  width: 100%;
  padding-bottom: 1rem;
  font-size: 3.5rem;
  text-align: left;
  font-weight: bold;
  border-bottom: 1.5px solid #af1818;
}

.galeria__encabezado * {
  text-align: left;
}
.fa-search {
  font-size: 1rem;
  margin: 1px;
}
.galeria__contenido__filtro-input {
  margin: 8px;
  background-color: transparent;
  padding: 5px;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  transition: 0.5s ease;
}
.galeria__contenido__filtro-input:focus {
  border-bottom: 2px solid #124b04;
}

.galeria__contenido__filtro-boton {
  margin: 0.3rem;
  padding: 2px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  transition: 0.5s ease;
}
.galeria__contenido__filtro-boton:hover {
  border: 1px solid #fff;
  color: #fff;
}
.acordeon {
  width: 80%;
  margin: 15px 0;
  overflow: hidden;
 
  
}
.acordeon img {
  height: 23rem;
  width: 100%;
  object-fit: cover;
  display: block;
  box-shadow: -8px 0px 16px black;
}
.acordeon figure {
  position: absolute;
  top: 0;
  left: 8rem;
  height: 23rem;
  width: 25rem;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.acordeon input:checked ~ figure {
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  left: 25rem;
}
.acordeon input:checked ~ img {
  filter: none;
}
.acordeon > figure {
  position: relative;
  left: 0 !important;
}
.acordeon input {
  position: absolute;
  top: 0;
  left: 0;
  width: 8rem;
  height: 100%;
  z-index: 5;
  appearance: none;
  padding: 0;
  filter: alpha(opacity=0);
  opacity: 0;
  border: 0;
  cursor: pointer;
}

.acordeon figcaption {
  width: 100%;
  height: 100%;
  background: rgba(87, 73, 81, 0.1);
  position: absolute;
  top: 0px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.acordeon figcaption span {
  cursor: default;
  position: absolute;
  top: 40%;
  margin-top: -30px;
  right: 2rem;
  overflow: hidden;
  text-align: center;
  background: rgba(11, 11, 11, 0.8);
  line-height: 2rem;
  font-size: 18px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  padding: 1rem;
  color: #fff;
  transition: 0;
  font-family: "Signika", sans-serif;
  border-radius: 5px;
}

.acordeon input:checked + figcaption,
.acordeon input:checked:hover + figcaption {
  background: rgba(87, 73, 81, 0);
}

.acordeon input:checked + figcaption span {
  -webkit-transition: all 0.4s ease-in-out 0.5s;
  -moz-transition: all 0.4s ease-in-out 0.5s;
  -o-transition: all 0.4s ease-in-out 0.5s;
  -ms-transition: all 0.4s ease-in-out 0.5s;
  transition: all 0.4s ease-in-out 0.5s;

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
  filter: alpha(opacity=99);
  opacity: 1;

  top: 50%;
}

.acordeon #ia-selector-last:checked + figcaption span {
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.acordeon input:hover + figcaption {
  background: rgba(87, 73, 81, 0.03);
}

.acordeon input:checked ~ figure input {
  z-index: 1;
}

@media screen and (max-width: 720px) {
  .acordeon {
    width: 540px;
  }

  .acordeon figure {
    left: 40px;
    width: 260px;
  }

  .acordeon input {
    width: 40px;
  }

  .acordeon input:checked ~ figure {
    left: 260px;
  }

  .acordeon figcaption span {
    font-size: 16px;
  }
}

@media screen and (max-width: 520px) {
  .acordeon {
    width: 320px;
  }

  .acordeon figure {
    left: 20px;
    width: 180px;
  }

  .acordeon input {
    width: 20px;
  }

  .acordeon input:checked ~ figure {
    left: 180px;
  }

  .acordeon figcaption span {
    font-size: 12px;
    letter-spacing: 2px;
    padding: 10px;
    margin-top: -20px;
  }
}
figure {
  margin: 0;
}

.acordeon__date {
  position: absolute;
  bottom: 2px;
  left: 4%;
  font-size: 1rem;
  color: #fff;
  font-family: "Signika", sans-serif;
  background-color: rgba(175, 24, 24, 0.829);
  margin: 1px;
  padding: 5px;
  border-radius: 5px;
}

.acordeon__nombreAlbum {
  position: absolute;
  top: 1%;
  left: 1%;
  font-size: 1.5rem;
  color: #fff;
  font-family: "Signika", sans-serif;
  writing-mode: vertical-lr;
  background-color: rgba(11, 11, 11, 0.8);
  margin: 1px;
  padding: 5px;
  border-radius: 5px;
}

@media only screen and (max-width: 320px){
  html{
      font-size: 10px;
  }
  .galeria__contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .galeria__contenido__filtro {
    display: flex;
    flex-direction: column;
    
    width: 50%;
  }

}
@media only screen and (max-width: 480px){
  html{
      font-size: 10px;
  }
  .galeria__contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .galeria__contenido__filtro {
    display: flex;
    flex-direction: column;
    
    width: 20%;
  }
  .acordeon {
    width: 100%;}
}

@media only screen and (max-width: 768px){
  html{
      font-size: 13px;
  }
  .galeria__contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .galeria__contenido__filtro {
    display: flex;
    flex-direction: column;
    
    width: 20%;
  }
  .acordeon {
    width: 100%;}

}