body{
    overflow-x: hidden;

}
.unidades{
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-row: auto;
    
    width: 100vw;
    

}
.unidades__banner-fondo{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
    
}

.unidades__info-fondo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(95%);
    transition: 1s ease;
    filter: blur(1px);
    
    

}
.unidades__info-contenedor:hover .unidades__info-fondo{
    filter: none;
    
}
.unidades__info-contenedor:hover .unidades__info-titulo{
    color: #fcfcfc80;
    text-shadow: none;
    font-size: 3rem;
    top: 55%;
    left: 0.5%;
    font-family: "Sansita Swashed", cursive;

}
.unidades__info-contenedor:hover .unidades__info-logo{
    width: 4rem;
    left: 1%;
    top: 2%;


}


.unidades__info-contenedor:hover .unidades__info-boton{
    top: 35%;
    left: 35%;
}

.unidades__info-boton{
    position: absolute;
    top: -90%;
    left:35%;
    padding: 0.5rem;
    font-family: "Signika", sans-serif;
    background: rgba(11, 11, 11, 0.8);
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 5px;
    transition: 0.5s ease;
    z-index: 1;


}

.unidades__info-boton:hover{
    box-shadow: 4px 4px 3px 0px #0c0c0ca2;

}
.unidades__info-logo{
    width: 4rem;
    position: absolute;
    z-index: 3;
    left: calc(50% - 2rem);
    top: 12%;
    transition: 0.5s ease;


}
.unidades__info-titulo{
    position: absolute;
    z-index: 1;
    font-family: "Signika", sans-serif;  
    font-size: 1.5rem;
    color: #fff;
    bottom: -3%;
    left: 0;
    text-shadow: 2px 4px 2px rgba(0,0,0,0.57);
    width: 100%;
    transition: 0.5s ease;
    text-align: center;

}

.unidades__info-contenedor{
   
    position: relative;
    overflow: hidden;
}

.unidades__info{
    display: flex;
    flex-direction: column;
    height: 100vh;

}

.unidades__info-contenedor{
    height: 16.66666667vh;
}

.unidades__banner-contenedor{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20%;
    left: calc(50% - 25%);
    align-items: center;  
    background-color: rgba(0, 0, 0, 0.815);
    width: 50%;
    height: 70%;
    padding: 0.5rem;
    border-radius: 8px;
    justify-content: center;
    
   

}
.unidades__banner-titulo{
    color: #fff;
    font-family: "Sansita Swashed", cursive;

    font-size: 1.5rem;
    font-weight: bold; 
    z-index: 2;
    text-align: center;

}
.unidades__banner-logo{
    width: 8rem;
}
.unidades__banner-texto{
    color: #fff;
}

.unidades__banner{
    position: relative;
}
